{{ define "head" }}
    {{ partial "head.html" . }}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
{{ end }}


{{ define "main" }}{{ if .Menus }}
<nav class="post-navigation">
    {{ range .Menus }} <a href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a> {{end }}
</nav>{{ end }}

<article class="post">
    <header>
        <h1 class="post-title{{ if .Params.favorite }} favorite{{end}}{{ if .Params.draft }} draft{{end}}">
            About me</h1>
    </header>
    <div class="content">
        {{ .Content }}
    </div>
</article>


<ul>
    {{ range .Site.Data.contacts.myContacts}}
    <li>
<!--        <i class="fab fa-{{ lower .name }}" aria-hidden="true"></i>-->
        <a href="{{ .url }}" target="_blank"><i class="fab fa-{{ lower .name }} fa-fw icon" aria-hidden="true"></i> {{ .name }}</a>
    </li>
    {{ end }}

</ul>


{{ end }}